@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(250,255,18,1) 52%, rgba(5,255,0,1) 100%);
    margin: auto;
    padding: 10px;
}

h3{
    font-size: larger;
    font-family: "Mohave";
    font-weight: 400;
    text-align: center;
}

h1{
    font-family: "Mohave";
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

p, table {
    font-family: "Mohave";
    font-size: 12px;
}

#wrapper-left {
    width: 40%;
    float: left;
}

#wrapper-right {
    width: 50%;
    float: right;
    padding-left: 20px;
    margin-top: 80px;
}

.clearfix{
    clear: both;
}

ul {
    margin-left: 10%;
}


#wrapper-about{
    margin-left: 20%;
}





