
/* Box hover transitions */
.box {
  -webkit-transition: 2s; 
  transition: 1s;
}

.box:hover {
    width: 300px;
    height: 300px;
    transform:rotate(720deg);
    -ms-transform:rotate(762deg);
    -webkit-transform:rotate(720deg);
}


/* Grid */
.grid-container {
    background-color: rgb(240, 240, 240);
    top: 0;
    left: 0; 
    min-height: 499px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
}

/* Boxes */
.box1 {
    width: 0; 
    height: 0; 
    top: -81px;
    left: -19px;
    position: relative;
    border-top: 125px solid transparent;
    border-bottom: 125px solid transparent; 
    border-right:125px solid lightslategray;
    transform: rotate(45deg);
}

.box2 {
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    left: -50px;
    border-top: 275px solid transparent;
    border-bottom: 275px solid transparent; 
    border-right: 275px solid black;
    transform: rotate(360deg);
}

.box3 {
    width: 0;
    height: 0;
    top: 331px;
    left: 56px;
    position: absolute;
    border-top: 112px solid transparent;
    border-bottom: 112px solid transparent; 
    border-right:112px solid whitesmoke; 
    transform: rotate(90deg);
}

.box4 {
    width: 0;
    height: 0;
    top: 275px;
    left: 0;
    position: absolute;
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    border-left: 113px solid gold;
}

.box5 {
    width: 0;
    height: 0;
    top: -85px;
    left: 225px;
    position: absolute;
    border-top: 180px solid transparent;
    border-bottom: 180px solid transparent;
    border-left: 180px solid whitesmoke;
}

.box6 {
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    position: absolute;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid grey;
}

.box7 {
    width: 0;
    height: 0;
    top: -2px;
    right: -2px;
    position: absolute;
    border-top: 278px solid transparent;
    border-bottom: 278px solid transparent;
    border-right: 278px solid red; 

}

.box8 {
    width: 0;
    height: 0;
    top: 365px;
    left: 122px;
    position: absolute;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 160px solid lightgrey;
    transform: rotate(45deg);
}
